In [12]:
import pandas as pd
import pickle

df = ['51.49230769','60','d','3','0','abnormal','abnormal','notpresent','notpresent','148.1126761','34','1.2','137.528754','4.62724359','10.8','33','8408.191126','4.705597015','no','no','no','yes','poor','no']
df = pd.DataFrame([df], columns=['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane'])

In [13]:
categorical_columns = df.select_dtypes(include=['object']).columns.to_list()

# Label Encoder - sg (map each)  
column_name = 'sg'
mapping = {'a':0, 'b':1, 'c':2,'d':3,'e':4}
df[column_name] = df[column_name].map(mapping)
categorical_columns.remove(column_name)

In [14]:
# Preprocess the other categorical columns data

column_name = categorical_columns
mapping = {'abnormal':1, 'no': 0, 'normal':0, 'notpresent':0, 'poor':0, 'present':1, 'yes':1}
df[column_name] = df[column_name].applymap(lambda x: mapping.get(x, x))

df[column_name].head()

C:\Users\ANISH\AppData\Local\Temp\ipykernel_22120\2569007687.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[column_name] = df[column_name].applymap(lambda x: mapping.get(x, x))

,age,bp,al,su,rbc,pc,pcc,ba,bgr,bu,...,hrmo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,51.49230769,60,3,0,1,1,0,0,148.1126761,34,...,10.8,33,8408.191126,4.705597015,0,0,0,1,0,0

In [15]:
# Deployment phase

load_model = pickle.load(open('classification_best_model.sav', 'rb'))
pred = load_model.predict(df)
pred

array([1], dtype=int64)